{% extends 'base.html' %}
{% block title %}公开课列表{% endblock %}
{% block content %}
     <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>公开课</li>
            </ul>
        </div>
    </section>


    <section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li  {% if sort == 'add_time' %}class="active"{% endif %}><a href="?sort=add_time">最新 </a></li>
						<li {% if sort == 'click_num' %}class="active"{% endif %}><a href="?sort=click_num">最热门</a></li>
						<li {% if sort == 'study_num' %}class="active"{% endif %}><a href="?sort=study_num">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for course in pages %}
                            <div class="box">
                                <a href="{% url 'courses:course_detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'courses:course_detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.study_time }}</i></span>
                                    <span class="fr">学习人数：{{ course.study_num }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'courses:course_detail' course.id %}"><span class="fl">{{ course.orginfo.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.love_num }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}


					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if pages.has_previous %}
                                <li class ="long"><a href="?pagenum={{ pages.previous_page_number }}&sort={{ sort }}&keywords={{ keywords }}">上一页</a> </li>
                            {% endif %}
                            {% for number in pages.paginator.page_range %}
                               {% if number == pages.number %}
                                 <li class ="active"> <a href="?pagenum={{ number }}&sort={{ sort }}&keywords={{ keywords }}">{{ number }}</a></li>
                                {% else %}
                                   <li><a href="?pagenum={{ number }}&sort={{ sort }}&keywords={{ keywords }}">{{ number }}</a></li>
                                {% endif %}
                             {% endfor %}
                              {% if pages.has_next %}
                                  <li class ="long"><a href="?pagenum={{ pages.next_page_number }}&sort={{ sort }}&keywords={{ keywords }}">下一页</a></li>
                              {% endif %}
                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for sort_course in sort_courses %}
                    <dl>
						<dt>
							<a  href="{% url 'courses:course_detail' sort_course.id %}">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ sort_course.image }}"/>
							</a>
						</dt>
						<dd>
							<a  href="{% url 'courses:course_detail' sort_course.id %}"><h2> {{ sort_course.name }}</h2></a>
							<span class="fl">难度：<i class="key">{{ sort_course.level }}</i></span>
						</dd>
					</dl>

                    {% endfor %}



				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}




