{% extends 'users/usercenter-base.html' %}
{% load static %}
{% block title %}我的课程{% endblock %}
{% block branch %}我的课程{% endblock %}
{% block right %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for course in pages %}
                    <div class="module1_5 box">
                            <a href="{% url 'courses:course_detail' course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{MEDIA_URL}}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'courses:course_detail' course.id %}"><h2>{{course.name}}</h2></a>
                                <span class="fl">课时：<i class="key">{{ course.study_time }}</i></span>
                                <span class="fr">学习人数：{{ course.study_num }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.orginfo.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ course.love_num }}</span>
                            </div>
                        </div>

                    {% endfor %}


				</div>
			</div>
		</div>
        <div class="pageturn">
                        <ul class="pagelist">
                            {% if pages.has_previous %}
                                <li class ="long"><a href="?pagenum={{ pages.previous_page_number }}">上一页</a> </li>
                            {% endif %}
                            {% for number in pages.paginator.page_range %}
                               {% if number == pages.number %}
                                 <li class ="active"> <a href="?pagenum={{ number }}">{{ number }}</a></li>
                                {% else %}
                                   <li><a href="?pagenum={{ number }}">{{ number }}</a></li>
                                {% endif %}
                             {% endfor %}
                              {% if pages.has_next %}
                                  <li class ="long"><a href="?pagenum={{ pages.next_page_number }}">下一页</a></li>
                              {% endif %}
                        </ul>
                    </div>
	</div>
{% endblock %}
